*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

body{
width: 100%;
height: 100vh;
}

header{
width: 100%;
height: 50px;
overflow: hidden;
position: fixed;
display: flex;
justify-content: flex-end;
}

.content{
display: flex;
align-items: flex-start;
}

.content div{
padding: 15px;
}

.content .link {
margin-top: 7px;
}

.content .link a{
color: rgba(0,0,0,0.87);
text-decoration: none;
font-size: 14px;
}

.content .link a:hover{
text-decoration: underline;
}

.content .apps svg{
width:30px;
height:30px;
cursor: pointer;   
}

.content .apps svg:hover {
background: rgba(194, 187, 187, 0.7);
border-radius: 5px;
}

.content .account img{
width: 30px;
height: 30px;
object-fit: cover;
border-radius: 50%;
cursor: pointer;
}

/* main */
main{
width: 650px;
position: absolute;
overflow: hidden;
display: block;
top: 30%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
padding: 5px;
}

main .search-btn{
width: 100%;
height: 50px;
border: 0.5px solid rgba(179, 169, 169, 0.9);
display: flex;
padding: 5px;
border-radius: 20px;
transition: all 0.2s;
}

main .search-btn:hover{
box-shadow: 0 0 5px 0 rgba(179, 169, 169, 0.9);
}

.search-btn input{
width: 100%;
border: none;
outline: none;
padding-left: 5px;
font-size: 20px;
}

.search-btn svg{
padding: 5px;
cursor: pointer;
}

.search-btn svg path{
fill: rgba(179, 169, 169, 0.9);
transition: all 0.2s;
}

.search-btn:hover svg path{
fill: rgba(10, 79, 168, 0.9);
}

.btn-more{
width: 100%;
height: 90px;
line-height: 90px;
}

.btn-more button{
background: #f8f9fa;
padding: 15px;
margin: 15px;
border: none;
outline: none;
border: 1px solid #f8f9fa;
}

.btn-more button:hover{
border: 1px solid #dadce0;
}

.lang a{
text-decoration: none;
}

.lang a:hover{
text-decoration: underline;
}

/* footr start here */

footer{
position: fixed;
width: 100%;
bottom: 0;
left: 0;
margin: 20px 0;
height: 60px;
background: #f2f2f2;

}
.country{
width: 100%;
margin: 5px;
color: rgba(0,0,0,.54);
margin-left: 20px;
padding: 5px;
}

.about{
display: flex;
justify-content: space-between;
margin: 7px;
margin-left: 20px;
padding: 5px;
}

.about div a{
padding: 10px;
text-decoration: none;
color: rgba(0,0,0,.54);

}
.about div a:hover{
text-decoration: underline;

}

hr{

background: rgba(0,0,0,.54);
}

/* responsive site */

@media (max-width: 750px){
main {
width: 360px;
top: 40%;
}

footer {
height: 100px;
text-align: center;
}

.about {
display: block; 
width: 100%;
}

.det-l{
width: 100%;
}

.about div a {
padding: 1px;
line-height: 30px;
margin: 10px;
}
}
